@use './variables' as *;
@use './reset';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .clear__fields {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 300px;
    max-width: 100%;
    background-color: $color-red;
  }
}

header {
  height: 70px;
  max-width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $text-color;
    font-size: $font-title;
  }
}

.container {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .field {
    background: $background-color;
    border: 2px solid $text-color;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  &__content {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;

    min-width: 250px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__close {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
}
