@use './variables';
@use './mixin';
@use './reset';

header {
  height: 70px;
  max-width: 100%;
  background-color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: variables.$text-color;
    font-size: variables.$font-title;
  }
}

.container {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  .field {
    background: variables.$background-color;
    border: 2px solid variables.$text-color;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    cursor: pointer;
  }
}
